<div class="timeline">
    <link rel="stylesheet" href="/css/main.css">
    <h2>Rtsp Settings</h2><br/><br/>
    <form action="/savertsp" method="post">
        <div id="makertspform">
            <div class="makertspfield">
                Rtsp 이름 : 
                <input type="text" name="name">
            </div>

            <div class="makertspfield">
                <label for="field1">Rtsp Url : </label>
                <input type="text" name="url" id="url" style="width: 350px;"> </br>
                <label for="field2">Arduino Url : </label>
                <input type="text" name="arduinoIp" id="arduinoIp" style="width: 350px;">
            </div>
            <br/>
            <button id="makertspbtn" type="submit">Rtps 생성</button>
        </div>
    </form>
</div>

</script>