<!DOCTYPE html>
<html>

<head>
  <title>Sftro</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/layout.css">
</head>

<body>
  
  

  <section id="banner">
    
    <!--
      ".inner" is set up as an inline-block so it automatically expands
      in both directions to fit whatever's inside it. This means it won't
      automatically wrap lines, so be sure to use line breaks where
      appropriate (<br />).
    -->
    <div class="inner">

      <header>
        <h2>Softro</h2>
      </header>
      <p>This is <strong>SITE</strong> decription
        <br>
        site main page
        <br>
      </p>
      <footer>
        <ul class="buttons stacked">
          <li><a href="/login" id="login" class="button primary">Sign In</a></li>
          <li><a href="#" class="button fit scrolly">Tell Me More</a></li>
        </ul>
      </footer>

    </div>

  </section>
</header>
<br/>
<br/>
<br/>
<br/>
<br/>
사이트 설명 부분
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>

</html>