<div class="timeline">
    <link rel="stylesheet" href="/main.css">
    <h1>Rtsp Settings</h1>
    <form action="/savertsp" method="post">
        <div>
            Rtsp 이름 : 
            <input type="text" name="name">
        </div>

        <div>
            <label for="field1">Rtsp Url : </label>
            <input type="text" name="url" id="url" style="width: 350px;">
        </div>
        <button id="btn" type="submit">Rtps 생성</button>
        <button><a href="/rtsp">돌아가기</a></button>
    </form>
</div>

</script>