<link rel="stylesheet" href="/css/main.css">

<h2>Teachable Machine Image Model</h2><br/><br/>
<button type="button" onclick="init()">시작하기</button>
<button type="button" onclick="predict()">예측하기</button>
<button><a href="/arduino">메인으로</a></button>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div id="teachablediv">
  <div class="file-upload">
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

    <div class="image-upload-wrap">
      <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
      <div class="drag-text">
        <h3 style="color: black;">Drag and drop a file or select add Image</h3>
      </div>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-image" id="test-img" src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
      </div>
    </div>
  </div>
  <div id="label-container"></div>
</div>

